* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

.container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.hero .table {
  display: flex;
  flex-direction: column;
}

.table .th {
  display: flex;
  align-items: center;
  padding: 24px 85px 29px 24px;
  border-bottom: 1px solid #f2f2f2;
}

.th span {
  width: 20px;
  height: 20px;
  border: 1px solid #ada7a7;
  border-radius: 3px;
}

.th .p {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: #000;
}

.p1 {
  margin-left: 24px;
}

.p2 {
  margin-left: 107px;
}

.p3 {
  margin-left: 105px;
}

.p4 {
  margin-left: 112px;
}

.p5 {
  margin-left: 120px;
}

.p6 {
  margin-left: 114px;
}

.td {
  display: flex;
  align-items: center;
  padding: 24px 85px 29px 24px;
  border-bottom: 1px solid #f2f2f2;
}

.td span {
  width: 20px;
  height: 20px;
  border: 1px solid #ada7a7;
  border-radius: 3px;
}

.td p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.p7 {
  margin-left: 24px;
  color: #0b63f8;
}

.p8 {
  margin-left: 109px;
  color: #000;
  opacity: 65%;
}

.p9 {
  margin-left: 64px;
  color: #000;
  opacity: 65%;
}

.p10 {
  margin-left: 90px;
  color: #000;
  opacity: 65%;
}

.p11 {
  margin-left: 200px;
  color: #000;
  opacity: 65%;
}

.p12 {
  margin-left: 175px;
  color: #000;
  opacity: 65%;
}
.nav{
    position: fixed;
    width: 16%;
    height: 100vh;
    background-color: white;
    padding: 23px 41px; 
}
.text{
    color: #0B63F8;
    margin-top: 55px;
    margin-bottom: 65px;
}
ul{
    margin-bottom: 180px;
    list-style: none;
}
span{
    color: #0B63F8;
}
ul li{
    margin-bottom: 41px;
}
ul li a img{
    contain: '';
}
ul li a{
    color: #000000;
    gap: 15px;
    align-items: center;
    display: flex;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
ul li a:hover{
    color: #0B63F8; 
}
.help{
    list-style: none;
}
.help a{
    color: #000000;
    gap: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav{
    position: fixed;
    width: 16%;
    height: 100vh;
    background-color: white;
    padding: 23px 41px; 
}
.text{
    color: #0B63F8;
    margin-top: 55px;
    margin-bottom: 65px;
}
ul{
    margin-bottom: 180px;
    list-style: none;
}
span{
    color: #0B63F8;
}
ul li{
    margin-bottom: 41px;
}
ul li a img{
    contain: '';
}
ul li a{
    color: #000000;
    gap: 15px;
    align-items: center;
    display: flex;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
ul li a:hover{
    color: #0B63F8; 
}
.help{
    list-style: none;
}
.help a{
    color: #000000;
    gap: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}


@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 998px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 375px) {
}
