* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: ;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:998px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {}

@media screen and (max-width:375px) {}